:root {
    --neon-verde: #00ff00;
}

html {
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 60px;
    width: 70%;
    height: 90%;
    background-image: url("./../img/fondo.jpg");
    background-size: cover;
    color: var(--blanco);
    display: flex;
    align-items: center;
}

.navbar {
    background-color: var(--negro);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.8); /* Sombra neon verde */
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--neon-verde); /* Texto neon verde */
}

.boton {
    display: flex;
    justify-content: center;
}

.centrar {
    width: 100%;
    padding: 2rem 0;
    border: var(--blanco) solid 1px;
    border-radius: 20px;
    background-color: var(--negro);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.8); /* Sombra neon verde */
}

.comprar {
    background-color: var(--neon-verde); /* Color neon verde */
    color: var(--negro);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.8); /* Sombra neon verde */
}

.comprar:hover {
    background-color: rgb(212, 212, 212);
    color: var(--negro);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.8); /* Sombra neon verde */
}

.no-registrado {
    margin: 2rem 0 1rem 0;
}

.form-group {
    width: 90%;
    margin: 0;
}

.error {
    color: red;
}

@media (max-width: 1000px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .container {
        width: 85%;
    }
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}
